<h1>hamago</h1>
<p>~ 横浜のお出かけスポットが見つかるサイト ~</p>

<hr> <ul>
  <li>
    <%= link_to "あなたにぴったりの場所を探す（行き先診断）", new_spot_path %>
  </li>

  <li style="margin-top: 10px;">
    <%= link_to "すべてのスポットから探す（一覧・検索）", search_spots_path %>
  </li>

  <li style="margin-top: 10px;">
    <%=link_to "マイページへ", mypage_path %>
  </li>
</ul>

